:root {
    --color: rgb(0,102,51);
    --color2: rgb(85, 174, 58);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    background-color: var(--color);
    color: white;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: start;
    
    gap: 16px;
    padding-left: 16px;
    padding-right: 8px;
}

#bars {
    flex-grow: 0;
}

.size-small {
    flex-grow: 0;
    display: none;
}

.icon {
    color: white;
    background-color: inherit;
    font-size: 46px;
    border: none;
}

#img {
    width: 200px;
    height: 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    flex-grow: 5;
    display: flex;
    align-items: center;
    gap: 32px
}

.underline {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.underline-content:hover {
    text-decoration: underline;
}

.options-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-grow: 0;
}

#profile-pic{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

@media (max-width: 1300px) {
    .size-big{
        display: none;
    }

    #bars {
        flex-grow: 0.1;
    }

    .options-container {
        flex-grow: 5;
        justify-content: end;
    }

}

@media (max-width: 700px) {
    body {
        font-size: 32px;
    }

    header {
        height: 40px;
        padding-left: 6px;
    }

    .size-small {
        display: flex;
    }

    .size-medium {
        display: none;
    }

    .icon {
        font-size: 32px;
    }

    #img {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    #img-content {
        width: 120px;
        height: 20px;
    }

    .options-container {
        flex-grow: 0;
        width: 100px;
    }

    #profile-pic {
        width: 32px;
        height: 32px;
    }
}