:root {
    --color: rgb(0,102,51);
    --color2: rgb(85, 174, 58);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    background-color: var(--color);
    color: white;
    height: 4rem;

    display: grid;
    grid-template-columns: 0.3fr 0.5fr 5fr 2fr ;
    grid-template-areas: 
        "bars img buttons options margo";
        grid-gap: 0.5rem;
}

.icon {
    margin: auto;
    color: white;
    background-color: inherit;
    font-size: 30px;
    border: none;
}

.underline:hover {
    text-decoration: underline;
}

#bars {
    grid-area: bars;
}

#img {
    grid-area: img;
    height: 40px;
    width: 200px;
    margin: auto;
}

img {
    width: 100%;
    object-fit: cover;
}

/*Buttons*/
.buttons-container {
    grid-area: buttons;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 140px));
    grid-template-areas: 
        "interjuk portrek elemzesek kultura";
    
    grid-auto-flow: column;

    align-items: center;
}

#interjuk {
    grid-area: interjuk;
}

#portrek {
    grid-area: portrek;
}

#elemzesek {
    grid-area: elemzesek;
}

#kultura {
    grid-area: kultura;
}



/*Options*/

.options-container {
    grid-area: options;

    display: grid;
    grid-template-columns: repeat(auto-fit, min(40px));
    grid-template-areas: 
    "pic sliders help bell comment search";

    direction:rtl;
    grid-auto-flow: column;
}

#search {
    grid-area: search;
}

#comment {
    grid-area: comment;
}

#bell {
    grid-area: bell;
}

#help {
    grid-area: help;
}




/*
.profile {
    grid-area: profile;
    
    display: grid;
    grid-template-columns:repeat(auto-fit, min(40px));
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sliders pic";
}*/

#sliders {
    grid-area: sliders;
}

#profile-pic {
    grid-area: pic;
}

.options-container img {
    height: 40px;
    border-radius: 50%;
    margin: auto;
}

#contact {
    display: none;
}

/*1340 - Medium Sight*/
@media (max-width: 1340px) {
    .size-big {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 0.12fr 0.4fr 2fr ;
        grid-template-areas: 
            "bars img options margo";
            grid-gap: 0.5rem;
    }
}


/*820 - Small Sight*/
@media (max-width: 820px) {    
    .header {
        display: grid;
        grid-template-columns: 0.5fr 1fr 6fr 1fr ;
        grid-template-areas: 
            "bars contact img options margo";
            grid-gap: 0.5rem;
    }

    #contact {
        grid-area: "contact";
        display:inline;
    }

    /*vlmi miatt nem engedi az osztályban való hivatkozást... de id-kal működik 
    .sizeMedium {
        display: none;
    }
    */

    #search {
        display: none;
    }

    #comment {
        display: none;
    }

    #bell {
        display: none;
    }

    #help {
        display: none;
    }

    .options-container {
        direction: ltr;
    }

    #profile-pic {
        margin-right: 10px;
    }

    #sliders {
        margin-left: 20px;
    }
}