* {
    --themeColor: green;
}

body {
    margin: 0;
    text-align: center;
}

header {
    background-color: var(--themeColor);
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    height: auto;
    top: 0;
    position: relative;
    margin-bottom: 1rem;
}

div {
    width: min-content;
    margin: auto;
}

.slopingFrame {
    position: relative;
    height: inherit;
    padding: 0.5rem;
    background-color: white;
    display: inline;

}

.slopingFrame::before {
    top: 0;
    content: " ";
    position: absolute;
    left: -1.5rem;
    border-top: 2.2rem solid transparent;
    border-right: 1.5rem solid white;
}

.slopingFrame::after {
    top: 0;
    content: " ";
    position: absolute;
    left: 90%;
    border-top: 2.2rem solid white;
    border-right: 1.5rem solid transparent;
}

.title {
    font-weight: bold;
    color: var(--themeColor);
    margin: 0;
    margin-top: 1rem;
    text-align: left;
    padding-left: 0.5rem;
}

.displayByRows {
    display: block;
    width: fit-content;
}

.fancyInput {
    padding: 0.3rem;
    border-radius: 1rem;
    border: 0.6px solid var(--themeColor);
    padding-left: 0.5rem;
    color: rgb(0, 206, 0);
}
