* {
    --color: rgb(0,102,51);
    --color2: rgb(85, 174, 58);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    color: white;
}

.header {
    background-color: var(--color);
    height: 3.5rem;
}

.icon {
    margin: auto;
    padding: auto;
}


.gridContainer {
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 3rem 5rem repeat(7, minmax(50px, auto)) 3rem;
    grid-template-rows: 1fr;
}
