:root {
    --color: rgb(0,102,51);
    --color2: rgb(85, 174, 58);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    position: relative;
    color: white;
}

.header {
    background-color: var(--color);
    height: 56px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

.column {
    width: auto;
}

.column:nth-child(1) {
    width: 3%;
}

.column:nth-child(2) {
    width: 7%;
}

.column:nth-child(7) {
    width: 5%;
}

.column:last-child {
    width: 3%;
}


.button {
    color: inherit;
    background-color: inherit;
    border: none;
}
