:root {
    --theme-color: #006633;
    --second-color: #55AE3A;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


/* --- WRAPPER --- */
.login-container {
    position: relative;
    box-sizing: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 22px;

    background-color: #FFFFFF;

    border: solid black 1px;
    border-radius: 8px;
}

.login-container-section1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    width: 90%;
    padding-left: 200px;
    padding-right: 200px;
}

.login-container-section2 {
    display: flex;
    flex-flow: column;
    gap: 22px;
    width: 90%;
}


/* --- GREETING --- */
.greeting-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.greeting {
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
}

.subgreeting {
    font-size: 17px;
    line-height: 20px;
}


/* -- LOGIN INPUTS --- */
.log-or-sign-in {
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.fancy-button {
    width: 50%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    transition: 0.5s;

    cursor: pointer;
}

.fancy-button.registration-button {
    background: #FFFFFF;
    border: 1px solid var(--second-color);
    border-right: none;
    border-radius: 44px 0px 0px 44px;
    color: var(--theme-color);
}

.fancy-button.registration-button:hover {
    background: #dddddd;
}

.fancy-button.login-button {
    background: var(--theme-color);
    border: 1px solid var(--second-color);
    border-left: none;
    border-radius: 0px 44px 44px 0px;
    color: #FFFFFF;
}

.fancy-button.login-button:hover {
    background: #008b46;
}

.login-input-container {
    display: flex;
    width: 100%;
    margin-top: 8px;
    flex-direction: column;
}

.fancy-input{
    display: flex;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #006633;
    border-radius: 44px;

    padding: 6px;

    font-family: 'Roboto', sans-serif;
    color: var(--second-color);

}

.email-container {
    position: relative
}

#email:invalid {
    border: 2px solid red;
}

.invalid-email {
    display: none;
    position: absolute;
    color: red;

    font-size: 14px;
    line-height: 16px;

    top: 37px;
    left: 8px;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .invalid-email {
    display: flex;	
}

#email::placeholder {
    content: "Email";
    font-family: inherit;
    color: inherit;
}

#password::placeholder {
    content: "Jelszó";
    font-family: inherit;
    color: inherit;
}


.login-input-container-element {
    display: flex;
    position: relative;
    width: 100%;
}

.login-input-container-element:not(:first-child) {
    margin-top: 36px;
}

#visibility-icon {
    color: var(--second-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}

.pw-reminder {
    text-align: left;

    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;

    cursor: pointer;
}


/* --- REMEMBER ME--- */

.remember {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    margin-top: 40px;
    gap: 12px;

    font-size: 13px;
    line-height: 20px;
}

/* --- SET SLIDER BUTTON --- */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    background-color: var(--second-color);
    -webkit-transition: .4s;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--second-Color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    background-color: var(--second-color);
  }

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
  .slider.round:before {
    border-radius: 50%;
}
/* --- END OF SLIDER BUTTON --- */


/* --- LOGIN BUTTON --- */

.submit {
    width: 100%;
    height: 40px;
    background: var(--theme-color);
    border-radius: 44px;
    border: none;

    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-transform: uppercase;

    cursor: pointer;
}


/* --- HR --- */
.strike {
    width: 100%;
    margin-top: -7px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 

    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 20px;
    color: var(--second-color);
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: var(--second-color);
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/* --- END OF HR --- */


/* --- LOGIN WITH OTHER --- */
.login-with-other {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.button {
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--theme-color);
    color: white;
}