:root {
    --theme-Color: #B1DDC4;
    --answer-Color: #006633;
    --button-Color: #55AE3A;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto;
}

.wrapper {
    position: absolute;
    width: 60%;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    background-color: var(--theme-Color);
    display: flex;
    flex-direction: column;

    padding: 18px 25px 25px 15px;
}

.title {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
}

.answers {
    width: 100%;

    margin-top: 18px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 13.2px;
}


.vote {
    width: 120px;
    height: 35px;

    margin: auto;
    margin-top: 9px;

    display: flex;
    justify-content: center;

    background-color: var(--button-Color);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px #1E1E25, 0px 2px 4px #1E1E22;
    border-radius: 8px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.vote:active {
    background-color: #79d35e;
}


/* Making answer buttons behave like radio buttons*/

input[name="radio-group"] {
    display: none;
}
 input[name="radio-group"]+label {
    height: 65px;

    color: white;
    background-color: var(--answer-Color);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
}

input[name="radio-group"]:checked+label {
    background-color: #17c06b;
}