:root {
    --color: #006633;
    --color2: #55AE3A;
    --color3: #B1DDC4;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    position: relative;
}

body, html {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header {
    background-color: var(--color);
    color: white;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: start;
    
    gap: 16px;
    padding-left: 16px;
    padding-right: 8px;
}

#bars {
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.size-small {
    flex-grow: 0;
    display: none;
}

.icon {
    color: white;
    background-color: inherit;
    font-size: 46px;
    border: none;
    overflow: hidden;
}

#img {
    width: 200px;
    height: 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    flex-grow: 5;
    display: flex;
    align-items: center;
    gap: 32px
}

.underline {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.underline-content {
    font-size: 30px;
    line-height: 20px;
}

.underline-content:hover {
    text-decoration: underline;
}

.options-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-grow: 0;
}

#profile-pic{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

/* --- HEADER 2 --- */

.section1 {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 0;

    gap: 24px;
}

#header2-detroit-pic {
    width:64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

#header2-profile-pic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

.icon.icon-with-bg {
    width: 72px;
    height: 72px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border-radius: 50%;

    transition: .5s;
}

.icon.icon-with-bg:hover {
    background-color:#53da2a;
    cursor: pointer;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.search-container {
    position: relative;
    flex-basis: 80%;
}

.search {
    width: 100%;
    height: 80px;
    border-radius: 44px;
    background-color: var(--color3);
    color: var(--color);
    font-weight: 700;

    border: none;
    outline: none;
    padding-left: 89px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.search::placeholder {
    color: var(--color2);
}

#search-icon {
    font-size: 46px;
    color: var(--color);

    position: absolute;

    top: 16px;
    left: 14px;
}

.vertical-line {
    background-color: transparent;
    height: 70px;
    width: 0;
    border: 2px solid #FFFFFF;

    position: absolute;
    left: 74px;
    top: 4px;
}

.date-container {
    position: relative;
    height: 62px;
    width: 250px;
    display: flex;
    flex-grow: 0;
}

.arrow-button {
    position:absolute;
    color: #363636;
}

.arrow-button:hover{
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#arrow1 {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

#arrow2 {
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}

#arrow3 {
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

#arrow4 {
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.date {
    width: 100%;
    height: 100%;
    min-width: 220px;
    display: flex;
    background-color: var(--color3);
    border-radius: 36px;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #363636;
}


/* --- MEDIA QUERRIES -- */

@media (max-width: 1300px) {
    .size-big{
        display: none;
    }

    #bars {
        flex-grow: 0.1;
    }

    .options-container {
        flex-grow: 5;
        justify-content: end;
    }


    /* --- header2 --- */
    .search-container {
        flex-basis: 100%;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 32px;
    }

    .header {
        height: 40px;
        padding-left: 6px;
        gap: 5px
    }

    .size-small {
        display: flex;
    }

    .size-medium {
        display: none;
    }

    .icon {
        font-size: 32px;
    }

    #img {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    #img-content {
        width: 120px;
        height: 20px;
    }

    .options-container {
        flex-grow: 0;
        width: 100px;
    }

    #profile-pic {
        width: 32px;
        height: 32px;
    }

    /* --- HEADER2 --- */

    .section1 {
        gap: 5px;
    }

    .icon.icon-with-bg {
        width: 40px;
        height: 40px;
    }

    #header2-detroit-pic {
        height: 36px;
        width: 36px;
    }
    
    #header2-profile-pic {
        width: 36px;
        height: 36px;
    }

    .search,.date {
        height: 40px;
        font-size: 12px;
    }

    .search {
        padding-left: 60px;
    }

    #search-icon {
        font-size: 32px;
        top: 5px
    }

    .vertical-line {
        left: 55px;
        height: 30px;
    }

    .section3 {
        min-width: 115px;
        max-width: 120px;
    }
    .date {
        min-width: 115px;
    }

    .arrow-button {
        font-size: 17px;
    }

    #arrow1 {
        left: 2px;
    }
    
    #arrow2 {
        left: 16px;
    }
    
    #arrow3 {
        right: 16px;
    }
    
    #arrow4 {
        right: 2px;
    }
}