* {
    --color: #006633;
    --color2: #55AE3A;
    --color3: #B1DDC4;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: larger;
}

.header1 {
    position: relative;
    background-color: var(--color);
    color: white;
    height: 85px;

    display: grid;
    grid-template-columns: 0.3fr 0.5fr 5fr 2fr ;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "bars img buttons options margo";
    gap: 32px;
}

.icon {
    margin: auto;
    padding: 8px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.icon:hover {
    background-color: var(--color2);
}

#bars {
    grid-area: bars;
}

#img {
    grid-area: img;
    height: 40px;
    margin: auto;
}

/*Buttons*/
.buttons-Container {
    grid-area: buttons;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 170px));
    grid-template-rows: 1fr;
    grid-template-areas: 
        "interjuk portrek elemzesek kultura";
    
    grid-auto-flow: column;

    gap: 37px;
}

#interjuk {
    grid-area: interjuk;
}

#portrek {
    grid-area: portrek;
}

#elemzesek {
    grid-area: elemzesek;
}

#kultura {
    grid-area: kultura;
}



/*Options*/

.options-Container {
    grid-area: options;

    display: grid;
    grid-template-columns: repeat(auto-fit, min(40px));
    grid-template-rows: 1fr;
    grid-template-areas: 
    "pic sliders help bell comment search";

    direction:rtl;
    grid-auto-flow: column;
}

#search {
    grid-area: search;
}

#comment {
    grid-area: comment;
}

#bell {
    grid-area: bell;
}

#help {
    grid-area: help;
}




/*
.profile {
    grid-area: profile;
    
    display: grid;
    grid-template-columns:repeat(auto-fit, min(40px));
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sliders pic";
}*/

#sliders {
    grid-area: sliders;
}

#profile-Pic {
    grid-area: pic;
    height: 40px;
    border-radius: 50%;
    margin: auto;

}

#contact {
    display: none;
}


/* --- SECOND HEADER LINE ---*/


.header2 {
    height: 85px;
    width: 100%;

    background-color: var(--color);

    position: relative;

    display: grid;
    grid-template-columns: 10fr minmax(300px, 849px) minmax(150px, 268px) 1.5fr;
    grid-template-areas: 
        " g1 g2 g3 g4";

    gap: 14px;
}

.g1 {
    grid-area: g1;

    display: flex;
    justify-content: left;
    gap: max(24px);
}

.g2 {
    grid-area: g2;

    position: relative;
}

.g3 {
    grid-area: g3;
}

.g4 {
    grid-area: g4;
}

.bg {
    height: 72px;
    width: 72px;
    background-color: var(--color2);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;

    margin: 0;
    padding: 13px;

    color: white;
}

.bg:hover {
    background-color: #71e64d;
}

#dp {
    height: 48px;
    width: 48px;
}

#face {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.search {
    width: 100%;
    height: 80px;
    border-radius: 44px;
    background-color: var(--color3);

    border: none;

    padding: 19px;
    padding-left: 89px;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color);

    /*
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 47px 47px;
        background-position: 5%;
    */
}

.search::placeholder {
    color: var(--color2);
}

.search:focus {
    border: none;
    outline: none;
}

#search-Icon {
    font-size: 46px;
    color: var(--color);

    position: absolute;

    top: 16.67px;
    left: 14.67px;
}

.vertical-Line {
    height: 70px;
    width: 0;
    border: 2px solid #FFFFFF;

    position: absolute;
    left: 74px;
    top: 4px;
}

.date {
    width: 100%;
    height: 62px;
    box-sizing: border-box;

    background-color: var(--color3);
    border-radius: 36px;
    border: none;

    margin: 0;
    margin-top: 5px;

    padding: auto;
    text-align: center;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #363636;
}

.date::before {
    content: "<< <";
}

.date::after {
    content: "> >>";
}

.date:focus {
    border: none;
    outline: none;
}

.paper {
    margin-left: 10px;
}




/* --- RESPONSIVITY SETTINGS --- */

/*1340*/
@media (max-width: 1340px) {
    .size-Big {
        display: none;
    }

    .header1 {
        display: grid;
        grid-template-columns: 0.12fr 0.4fr 2fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "bars img options margo";
            grid-gap: 0.5rem;
    }
}


/*820*/
@media (max-width: 900px) {    
    .header1 {
        display: grid;
        grid-template-columns: 0.5fr 1fr 6fr 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "bars contact img options margo";
            grid-gap: 0.5rem;
    }

    #contact {
        grid-area: "contact";
        display:inline;
    }

    /*vlmi miatt nem engedi az osztályban való hivatkozást... de id-kal működik 
    .sizeMedium {
        display: none;
    }
    */

    #search {
        display: none;
    }

    #comment {
        display: none;
    }

    #bell {
        display: none;
    }

    #help {
        display: none;
    }

    .options-Container {
        direction: ltr;
    }

    #profile-Pic {
        margin-right: 10px;
    }

    #sliders {
        margin-left: 20px;
    }
}