html, body {
    margin: 0;
    height: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img title date buttonGrid";
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.img {
    grid-area: img;
    margin: auto;
}

.title {
    grid-area: title;
    margin: auto;
    font-weight: bold;
}

.date {
    grid-area: date;
    margin: auto;
}

.buttonGrid {
    grid-area: buttonGrid;
    margin: auto;
}

#b1, #b3, #b4 {
    background-color: green;
    border-radius: 100%;
    border: none;
}

#b2 {
    background-color: orange;
    border-radius: 100%;
    border: none;
}