* {
    --theme-Color: #006633;
    --orange: #DF7E24;
}

html, body {
    position: relative;
    margin: 0;
    height: 100%;

    
}

@keyframes button1-Animation {
    0%   {background-color: var(--theme-Color);}
    100% {background-color: lightgreen;}
  }

@keyframes button2-Animation {
    0%   {background-color: var(--orange);}
    100% {background-color: lightsalmon;}
}

.grid-Container {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img title date buttonGrid";
    
    width: 100%;
    height: 120px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.img {
    grid-area: img;
    margin: 0;
    padding: 0;
    height: 120px;
}

.title {
    grid-area: title;
    width: 100%;
    margin: auto;
    font-weight: bold;
    text-align: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.date {
    grid-area: date;
    margin: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.button-Grid {
    grid-area: buttonGrid;
    margin: auto;
}

#b1, #b3, #b4 {
    color: white;
    background-color: rgb(0, 102, 51);
    border-radius: 50%;
    border: none;
    padding: auto;
    width: 58px;
    padding: 1rem;
    margin-right: 1rem;
}

#b1:hover, #b3:hover, #b4:hover {
    animation: button1-Animation 0.5s;
    animation-fill-mode: forwards;
}

#b2 {
    color: white;
    background-color: rgb(223, 126, 36);
    border-radius: 100%;
    border: none;
    padding: auto;
    width: 58px;
    padding: 1rem;
    margin-right: 1rem;
}

#b2:hover {
    animation: button2-Animation 0.5s;
    animation-fill-mode: forwards;
}