html, body {
    margin: 0;
    height: 100%;
}

.alertDiv {
    color: white;
    background-color: rgb(0,102,51);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
 font-weight: bold;
}

.button {
    border: 1px solid white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

#buttonMegse {
    color: white;
    background-color: gray;
}

#buttonMegse:hover {
    background-color: lightgray;
}

#buttonDelete {
    background-color: rgb(239, 58, 67);
}

#buttonDelete:hover {
    background-color: lightcoral;
}
