html, body {
    margin: 0;
    height: 100%;
}

.alertDiv {
    color: white;
    background-color: green;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
 font-weight: bold;
}

