:root {
    --theme-Color: #006633;
    --megse-Color: #BFBFBF;
    --delete-Color: #EF3A43;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.alert-div {
    color: white;
    background-color: var(--theme-Color);
    text-align: center;
    padding: 12px;
    padding-bottom: 22px;
    border-radius: 16px;
    width: 500px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
    font-weight: bold;
    margin: 0;
}

.message {
    margin-top: 12px;
    margin-bottom: 13px;
}

.button {
    border: 1px solid #F2F2F2;
    padding: 8px 32px;
    border-radius: 8px;
    margin-right: 1rem;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;  
}

#button-megse {
    width: 114px;
    height: 40px;
    color: white;
    background-color: var(--megse-Color);

    /* animation speed*/
    transition: 0.5s;
}

#button-megse:hover {
    background-color: lightgray;
    
}

#button-delete {
    width: 88px;
    height: 40px;
    color: #FFFFFF;
    background-color: var(--delete-Color);

    /* animation speed*/
    transition: 0.5s;
}

#button-delete:hover {
    background-color: lightcoral;
}
