:root {
    --color: #006633;
    --color2: #55AE3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.div-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: var(--color);
    border-radius: 16px;
    width: 500px;
    height: 360px;

    padding: 36px 50px 36px 50px;
}

.title {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}

.icon {
    transform: translate(0, 6px);
    margin-right: 12px;
}

.input-text {
    width: 400px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid var(--color2);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 7px;
    padding-left: 11px;
    outline: none;

    font-size: 29px;
    line-height: 34px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

#checkb {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: var(--color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid white;
    border-radius: 2px;
    position: relative;
    margin: 0;
    margin-right: 3px;
    top: 4px;
}

#checkb:checked::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\2713';

    color: white;
}

.link {
    color: white;
}

.big-button {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    width: 240px;
    height: 50px;

    color: white;
    text-align: center;
    background-color: var(--color2);
    margin-top: 30px;
    padding: 7px;
    border-radius: 44px;

    border: none;
    box-shadow: 0px 1px 2px #1E1E25, 0px 2px 4px #1E1E22;

    font-weight: bold;
    font-size: 31px;
    line-height: 36px;

    cursor: pointer;

    /* animation speed*/
    transition: 0.5s;
}

.big-button:hover {
    background-color: rgb(35, 163, 35);
}

.button-icon {
    transform: translate(0, -2px);
}

.at {
    font-size: smaller;
    margin-top: 10px;

    font-size: 14px;
    line-height: 16px;
}