* {
    --theme-Color: #363636;
    --green: #55AE3A;
}

html, body {
    height: 100%;
}

.list {
    color: white;
    background-color: rgb(54, 54, 54);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 402px;
    height: 60px;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
}

.is-first-child:first-child {
    background-color: var(--green);
}

.circle {
    height: 60px;
    width: 60px;
    background-color: var(--theme-Color);
    border-radius: 50%;

    border: none;
  }

.icon {
    color: white;
    font-size: 28px;
}