* {
    --color: rgb(0,102,51);
    --color2: rgb(85, 174, 58);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    color: white;
}

.container {
    background-color: gray;
}