:root {
    --theme-Color: #363636;
    --bg1: #55AE3A;
    --bg2: #FFC700;
    --bg3: #DF7E24;
    --bg4: #9400D3;
    --bg5: #2D8CD8;
    --bg6: #E10000;
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
    color: white;
}

.list {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 460px;
    height: 60px;
    background-color: var(--theme-Color);

    display: flex;
    justify-content: space-between;
    border-radius: 60px;
}

.button {
    height: 60px;
    width: 60px;
    background-color: var(--theme-Color);
    border-radius: 50%;
    font-size: 28px;

    color: white;
    border: none;

    /* animation speed*/
    transition: 0.5s;
}


.button:nth-child(1):hover {
    background-color: var(--bg1);
}

.button:nth-child(2):hover {
    background-color: var(--bg2);
}

.button:nth-child(3):hover {
    background-color: var(--bg3);
}

.button:nth-child(4):hover {
    background-color: var(--bg4);
}

.button:nth-child(5):hover {
    background-color: var(--bg5);
}

.button:nth-child(6):hover {
    background-color: var(--bg6);
}