* {
    --theme-Color: #363636;

    --bg1: #55AE3A;
    --bg2: #FFC700;
    --bg3: #DF7E24;
    --bg4: #9400D3;
    --bg5: #2D8CD8;
    --bg6: #E10000;
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
    color: white;
}

.list {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 60px;
    background-color: var(--theme-Color);

    display: flex;
    justify-content: space-between;
    border-radius: 60px;
}

.circle {
    height: 60px;
    width: 60px;
    background-color: var(--theme-Color);
    border-radius: 50%;
    text-align: center;

    box-sizing: border-box;
    padding-top: 20px;

    /* animation speed*/
    transition: 0.5s;
}

#d1:hover {
    background-color: var(--bg1);
}

#d2:hover {
    background-color: var(--bg2);
}

#d3:hover {
    background-color: var(--bg3);
}

#d4:hover {
    background-color: var(--bg4);
}

#d5:hover {
    background-color: var(--bg5);
}

#d6:hover {
    background-color: var(--bg6);
}