* {
    --theme-Color: #006633;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper {
    width: 614px;
    height: 561px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.title {
    position: relative;
    display: flex;
    flex-direction: row;

    width: 100%;
    box-sizing: border-box;

    margin: 8px;
    margin-top: 3.5px;
    margin-bottom: 0;
}

.title-Content {
    margin: 0;
    margin-left: 10px;
    margin-right: 53px;

    width: 100%;
    height: 70px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.profile-Pic {
    width: 40px;
    height: 40px;
    border: 2px solid #55AE3A;
    border-radius: 40px;
}

.img {
    width: 614px;
    height: 310px;
}

.wrapper-Content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bs {
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 126%;
    /* or 28px */

    text-align: justify;
}


.headline {
    position: relative;
    width: 100%;
    height: 38px;
    background-color: var(--theme-Color);

    margin: 0;
    margin-top: 30px;

    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "headline ago views date";
    grid-auto-flow: column;
    align-self: center;
}

.sloping-Frame {
    grid-area: headline;
    position: relative;
    height: 110%;
    width: fit-content;
    padding: auto;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 30px;
    margin-top: -1px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    display: flex;
    align-items: center;
    text-align: center;
}

.sloping-Frame::before {
    position: absolute;
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-bottom: 40px solid white;
    top: 0px;
    left: -19px;
    z-index: 0;
    content: "";
}

.sloping-Frame::after {
    position: absolute;
    width: 0;
	height: 0;
	border-right: 20px solid transparent;
	border-top: 40px solid white;
    top: 0;
    left: 99%;
    z-index: 0;
    content: "";
}

.ago {
    grid-area: ago;

    margin-left: 4px;

    display: flex;
    align-items: center;
    justify-content: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: white;
}

.date {
    grid-area: date;

    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: right;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;

    color: white;
}

.icon {
    margin-right: 3px;
}


/* --- MEDIUM sight --- */
@media (max-width: 1500px) {
    .wrapper {
        width: 298px;
        height: 263px;
        box-sizing: border-box;
    }

    .bs {
        visibility: collapse;
    }

    .wrapper-Content {
        height: 105px;
    }

    .img {
        width: 298px;
        height: 168px;
    }

    .title-Content {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.04em;
        text-transform: uppercase;

        display: inline;
        overflow: visible;
        height: max-content;
    }
    .headline {
        margin: 0;

        height: 24px;
    }

    .sloping-Frame {
        width: min-content;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        /* identical to box height, or 167% */

        display: flex;
        align-items: center;
        text-align: center;

        margin-right: 17px;
    }

    .sloping-Frame::after {
        left: 99%;
    }

    .ago {
        /* Blog/PostViewedLikes */

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .date {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */

        text-align: right;
    }

    
}

/* --- SMALL sight --- */
@media (max-width: 1200px) {
    
    .wrapper {
        width: 614px;
        height: 168px;
        box-sizing: border-box;

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
    }

    .img {
        width: 298px;
        height: 168px;
    }

    .title {
        position: relative;
        display: flex;
        flex-direction: row;
    
        width: 316px;
        height: 50px;
        box-sizing: border-box;
        overflow: hidden;
    
        margin: 8px;
        margin-top: 9px;
        margin-bottom: 0;
    }
    
    .title-Content {
        margin: 0;
        margin-left: 10px;
        margin-right: 53px;
    
        width: 100%;
        height: 70px;
    
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
    
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 26px;

    }

    .bs {
        width: 315px;
        box-sizing: border-box;

        visibility: visible;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;


        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 9px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 126%;
    }

    .headline {
        margin-left: -2px;
        margin-top: auto;
        width: 330px;
    }
}