* {
    --theme-Color: #006633;
}

html, body {
    position: relative;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 2fr;
    grid-template-areas: 
        "bigProfile smallProfile";
}

.big-profile {
    position: relative;
    width: 300px;
    height: 300px;
    grid-area: bigProfile;
    margin: auto;
    background-color: var(--theme-Color);
    border-radius: 44px;
}

.big-profile-pic {
    margin-top: 22px;
    margin-left: 32px;
    border-radius: 44px 44px 0px 0px;
    /*background-color: green;*/
}

.big-profile h1 {
    color: white;
    margin-top: 4.74px;
    margin-bottom: 6.4px;
    text-align: center;
    font-size: 26px;
    line-height: 20px;
}

.small-profile {
    grid-area: smallProfile;
    margin: auto;
    width: 300px;
    height: 125px;
    position: relative;
    background-color: var(--theme-Color);
    text-align: center;
    padding-bottom: 5.74px;
    border-radius: 36px;
}

.small-profile-pic {
    position: relative;
    border-radius: 50%;
    border: 4px solid var(--theme-Color);
}

.name, .rank {
    color: white;
}

.name{
    font-weight: bold;
    margin: 0;

    font-size: 20px;
    line-height: 20px;
}

.rank{
    margin: 0;

    font-size: 16px;
    line-height: 20px;
}

.small-profile-content {
    transform: translate(0, -55.79px);
}