* {
    --theme-Color: #006633;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper {
    /*width: 22%;*/
    width: 30%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* demonstration for size change */
    border: 2px solid black;
}

/* --- HEADLINE --*/

.headline {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
}

.img {
    width: 234px;
    height: 234px;

    border: 10px solid var(--theme-Color);
    box-sizing: border-box;
    border-radius: 200px;
}

#name {
    margin: 0;
    margin-top: 7px;
    padding: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--theme-Color);
}

#nickname {
    margin: 0;
    padding: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--theme-Color);
}

#nickname::before {
    content: "(";
}

#nickname::after {
    content: ")";
}

.header {
    position: relative;
    width: 100%;
    background-color: var(--theme-Color);
    text-align: center;
    overflow: hidden;
}

.header-Font {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.sloping-Frame {
    position: relative;
    margin: auto;
    padding: 5px;
    padding-left: 15px;
    background-color: white;
    width: fit-content;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: black;
}

.sloping-Frame::before {
    position: absolute;
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-bottom: 40px solid white;
    top: 0px;
    left: -19px;
    z-index: 0;
    content: "";
}

.sloping-Frame::after {
    position: absolute;
    width: 0;
	height: 0;
	border-right: 20px solid transparent;
	border-top: 40px solid white;
    top: 0;
    left: 99%;
    z-index: 0;
    content: "";
}

.content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--theme-Color);
}

.before-Content {
    color: var(--theme-Color);
    font-size: 24px;
    line-height: 28px;
}

/* --- PERSONAL DATA --- */

.personal-Data {
    width: 100%;

    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

/* --- ACCESSIBILITY -- */

.accessibility {
    width: 100%;

    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

/*
.flex {
    position: relative;
    width: 100%;

    margin-top: 4px;
    margin-bottom: 24px;

    display: flex;
    flex-template-columns: repeat(auto-fill, minmax(50px, 120px));
}*/

.flex {
    display: flex;
    flex-flow: row wrap;

    margin-top: 4px;
    margin-bottom: 24px;
}

.flex-Content {
    width: fit-content;
    background: var(--theme-Color);
    border-radius: 68px;
    color: white;

    padding: 4px;
    padding-left: 12px;
    padding-right: 16px;

    text-align: center;

    /* animation speed*/
    transition: 0.5s;
}

.flex-Content:hover {
    background-color: #04a856;
    cursor: pointer;
}

.gap-After {
    margin-right: 10px;
}